
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
    margin: 10px;
}

#usersData{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 10px;
}

.headerUser{
    font-size: 36px;
    color: #ffffff;
    background: rgba(173, 173, 173, 0.51);
    margin: 5px;
    width: 90%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 4px solid rgba(236, 236, 236, 0.4);
    border-bottom: 4px solid rgba(236, 236, 236, 0.4);
    border-radius: 10px;
}


.user-block, .comment-block, .post-block, .div-detail-info, .user-posts-info{
    display: flex;
    background: rgba(255, 255, 255, 0.58);
    border-right: 4px solid rgba(201, 201, 201, 0.4);
    border-bottom: 4px solid rgba(201, 201, 201, 0.4);
}
.user-block{
    width: 48%;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    margin: 5px;
    border-radius: 10px;
    flex-direction: column;
}

a{
    color: rgb(102, 101, 101);
    text-decoration: none;
}

.user-block h1{
    font-size: 30px;
    color: #3d3d3d;
}

.user-block a{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.58);
    border: 1px solid rgb(111, 105, 105);
    padding: 10px;
    margin-bottom: 10px;
}


/*user-details page*/

#user-details, #userPosts{
    width: 90%;
    background-size: 100%;
    display: flex;
}

#user-details{
    flex-direction: column;
    align-items: center
}

#butt-User-Details{
    width: 90%;
}

.user-details-block{
    width: 40%;
}

.div-detail-info, .user-posts-info{
    width: 40%;
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

#userPosts{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-top: 20px;
}

.post-block{
    width: 17%;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}


/*post-details page*/

#user-posts, #post-comments{
    width: 90%;
    background-size: 100%;
    display: flex;
}

#user-posts {
    flex-direction: column;
    align-items: center
}
#post-comments{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-top: 20px;
}


#post-comments h2, #userPosts h2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.comment-block{
    width: 23%;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    flex-direction: column;
    font-size: 14px;
}

.comment-info{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.58);
    border-bottom: 4px solid rgba(201, 201, 201, 0.4);
    display: flex;
}